*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  background-color: var(--backgroundColor);
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  white-space: nowrap;
  color: var(--primaryColor);
  justify-content: center;
}

.logo > svg {
  fill: var(--primaryColor);
}

.text-disabled {
  color: var(--textColorSecondary) !important;
}

a {
  text-align: left;
  text-decoration: none;
  letter-spacing: 0px;
  color: #000000d9;
  opacity: 1;
}

.unread > tr {
  background: #00000026 0% 0% no-repeat padding-box;
  opacity: 1;
}
tr.unread {
  background: #00000026 0% 0% no-repeat padding-box;
  opacity: 1;
}

tr#allTickets {
  background: #00000026 0% 0% no-repeat padding-box;
  opacity: 1;
}
.spin {
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
  z-index: 100;
  position: absolute;
}

.blueWhiteButton {
  background-color: white;
  height: 40px;
  color: #69c0ff;
  border: 1px solid #69c0ff;
  border-radius: 3px;
  border-width: 1px;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.redWhiteButton {
  background-color: white;
  height: 40px;
  color: #f5222d;
  border: 1px solid #f5222d;
  border-radius: 3px;
  border-width: 1px;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}


.user {
  padding: 1rem;
}
.user-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.user-list .user {
  padding: 2rem;
  margin: 1rem;
  background: #ccc;
}
.paginate-wrap {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 1rem 0 0 0;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  max-width: 100%;
  flex-wrap: wrap;
  background: #ccc;
}
body.light .paginate-wrap {
  background: #fafafa;
}
.paginate-wrap .paginate-a, .paginate-wrap .paginate-next-a, .paginate-wrap .paginate-prev-a, .paginate-wrap .paginate-break-a {
  cursor: pointer;
  padding: 0.2rem 0.4rem;
}
.paginate-wrap .paginate-a:focus, .paginate-wrap .paginate-next-a:focus, .paginate-wrap .paginate-prev-a:focus, .paginate-wrap .paginate-break-a:focus {
  outline: 0;
}
.paginate-wrap .paginate-a:hover, .paginate-wrap .paginate-next-a:hover, .paginate-wrap .paginate-prev-a:hover, .paginate-wrap .paginate-break-a:hover {
  background: #745788;
  background: #d9c5e6;
}
.paginate-wrap .paginate-li {
  margin: 0 0.2rem;
}
.paginate-wrap .paginate-next-a, .paginate-wrap .paginate-prev-a {
  color: #745788;
  margin: 0 0.3rem;
}
.paginate-wrap .paginate-active {
  border: 2px solid #d9c5e6;
  background: #d9c5e6;
}
.paginate-wrap .paginate-disabled > a {
  cursor: not-allowed;
  background: transparent;
  color: #666;
}
body.light .paginate-wrap .paginate-disabled > a {
  color: #ccc;
}
.paginate-wrap .paginate-disabled > a:hover {
  background: transparent !important;
}
